<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Fresh Pork </title>
</head>
<body>
<form method = "POST">
    <div> Welcome driver "<%=name%>"!</div>
    <input type="hidden" name="drivername" id="hiddenField" value="<%=name%>"/>
    <button type = "submit" name="button" value="Assign"> Notify Assignment </button><br>
    <button type = "submit" name="button" value="TransportStart"> Start Transport </button><br>
    <button type = "submit" name="button" value="TransportEnd"> Transport Arrival </button><br>
    <button type = "submit" name="button" value="Return"> Return to Company </button><br>
    <br><br>
    <button type = "submit" name="button" value="Cancel"> Cancel </button><br>
</form>
</body>
</html>