<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title> Fresh Pork </title>
</head>
<body>
<form method = "POST">
    <div>Login</div>
    <div>
        <label for = "id"> ID: </label>
        <input type = "text" name = "id" placeholder = "ID">
    </div>
    <div>
        <label for = "pwd"> Password: </label>
        <input type = "password" name = "pw" placeholder = "Password">
    </div>
    <button type = "submit" name="button" value="Login"> Login </button>
    <button type = "submit" name="button" value="Register"> Register User </button>
<br><br>
</form>
</body>
</html>
